
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 123.5rem;
}.macbook-air-1-LLG {
  box-sizing: border-box;
  padding: 3.7rem 8.9rem 0rem 5.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0b2447;
}
.macbook-air-1-LLG .about-me-erk {
  margin: 0rem 0rem 2rem 9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1925;
  color: #f5f5f5;
  font-family: Miltonian Tattoo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-1-LLG .auto-group-gseu-mAg {
  margin-right: 57.8rem;
  box-sizing: border-box;
  padding: 17.1rem 6.4rem 1.9rem 6.4rem;
  width: 29.5rem;
  height: 29rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-size: 100% 180.843%;
  background-position: -0.1727rem -4.9879rem;
  background-image: url('../assets/image-1-bg.png');
  border-radius: 17rem;
  flex-shrink: 0;
}
.macbook-air-1-LLG .auto-group-gseu-mAg .frame-1-HPv {
  margin-right: 6.7rem;
  width: 10rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.macbook-air-1-LLG .auto-group-gseu-mAg .frame-1-HPv .frame-3-Epx {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.macbook-air-1-LLG .auto-group-gseu-mAg .auto-group-gseu-mAg-bg {
  width: 29.5rem;
  height: 29rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:5320782b6dd08b58a5459d3ef084ce82b4707121');
}
.macbook-air-1-LLG .auto-group-yxsi-s7E {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .name-age-email-address-phone-insta--pYG {
  margin: 8.8rem 1.5rem 0rem 0rem;
  max-width: 9.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Microsoft Himalaya, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-2-aZN {
  margin-top: 6.8rem;
  box-sizing: border-box;
  padding-top: 2.1rem;
  width: 34.2rem;
  height: 27.6rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-2-aZN .mohammed-zunaith-22-mohdzunaid280gmailcom-chennai-9952648507-zunaiidm-h8C {
  max-width: 27.1rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Microsoft Himalaya, 'Source Sans Pro';
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x {
  width: 64.1rem;
  height: 41.8rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ {
  width: 63.8rem;
  height: 55.4rem;
  position: absolute;
  left: 4.9453rem;
  top: 3rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Microsoft Himalaya, 'Source Sans Pro';
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ-sub-0 {
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Microsoft Himalaya, 'Source Sans Pro';
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ-sub-2 {
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ-sub-3 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Microsoft Himalaya, 'Source Sans Pro';
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ-sub-4 {
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ-sub-5 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Microsoft Himalaya, 'Source Sans Pro';
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ-sub-6 {
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ .photoshop-90-illustrator-86-mobile-app-design-72-web-development-70-8UQ-sub-7 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Microsoft Himalaya, 'Source Sans Pro';
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-1-ame {
  width: 50.9rem;
  height: 0.1rem;
  position: absolute;
  left: 9.2rem;
  top: 8.4rem;
  background-color: #ffffff;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-3-uov {
  width: 50.9rem;
  height: 0.1rem;
  position: absolute;
  left: 5.2rem;
  top: 8.4rem;
  background-color: #ffffff;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-2-dzp {
  width: 50.9rem;
  height: 0.1rem;
  position: absolute;
  left: 14.8rem;
  top: 8.4rem;
  background-color: rgba(22, 82, 235, 0.200000003);
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .frame-5-Azk {
  width: 5.4rem;
  height: 2.7rem;
  position: absolute;
  left: 57.9rem;
  top: 5.7rem;
  overflow: hidden;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-4-iFa {
  width: 52.3rem;
  height: 0.1rem;
  position: absolute;
  left: 5.6rem;
  top: 16.3rem;
  background-color: #ffffff;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-5-4KS {
  width: 58.5rem;
  height: 0.1rem;
  position: absolute;
  left: 5.6rem;
  top: 16.4rem;
  background-color: rgba(22, 82, 235, 0.3000000119);
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-6-Q8Q {
  width: 48.3rem;
  height: 0.1rem;
  position: absolute;
  left: 5.8rem;
  top: 24.6rem;
  background-color: #ffffff;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-8-kCG {
  width: 58.3rem;
  height: 0;
  position: absolute;
  left: 5.8rem;
  top: 24.5rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-9-VQk {
  width: 48.3rem;
  height: 0.1rem;
  position: absolute;
  left: 5.8rem;
  top: 32.8rem;
  background-color: #ffffff;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .line-10-dmr {
  width: 58.3rem;
  height: 0.1rem;
  position: absolute;
  left: 6.2rem;
  top: 32.8rem;
  background-color: #ffffff;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .frame-6-yqi {
  width: 3.9rem;
  height: 2rem;
  position: absolute;
  left: 57.7rem;
  top: 13.6rem;
  overflow: hidden;
}
.macbook-air-1-LLG .auto-group-yxsi-s7E .frame-4-C4x .frame-7-vW4 {
  width: 4.7rem;
  height: 3.2rem;
  position: absolute;
  left: 57.7rem;
  top: 12.3rem;
  overflow: hidden;
}
